html,
body {
  margin: 0;
  padding: 0;
}
h1 {
    font-family: 'Autour One', cursive;
    color: white;
    text-align: center;
    font-size: 70px;
}

body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    color: black;
    padding: 50px 0;
    background-color: pink;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}

.container {
    box-sizing: border-box;
}
.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
}

/* Checkboxes */
.flex-inner li {
    width: 100px;
}

.flex-inner {
    justify-content: space-between;
    padding: 0 8px;
}

/* Submit Button*/
.flex-outer li button {
    margin-right: auto;
    padding: 8px 16px;
    border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer >li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-inner,
.flex-outer {
    list-style-type: none;
    padding: 0;
}